/* Navbar */
#heading {
  margin-left: 15px;
  margin-top: 12px;
}

.App-logo {
  margin-left: 14px;
  height: 80px;
  transition: all .2s ease-in-out;
}

/* Main */
#app {
  background-color: lightgray;
}

/* Menu */
#side-menu-active {
  background-color: pink;
}

/* Cards */
#hog-container {
  margin-left: 40px;
}

#hog-card {
  padding: 10px 10px 0px 10px;
}

#hog-card:hover {
  transform: translate(0px, -3px);
}

#full-card-header {
  text-align: center;
}

#full-card-image {
  margin-left: 43.5px;
  width: 183px;
  height: 183px;
}

#half-card-header {
  margin-top: 3px;
}

#half-content {
  padding: 14px 0px;
}
